# Python
*.pyc
__pycache__/

# Flask
instance/
*.env

# Docker
docker-compose.override.yml
.docker/
*.log

# MongoDB
data/
db/

# Virtual Environment (if you use one)
venv/
.env/

# PyCharm / VSCode settings
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

