/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
}

/* Map Full Height */
#map {
    height: 100vh;
    width: 100%;
}

/* Custom Features Tab */
#custom-features-tab {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 60px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#custom-features-tab button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#custom-features-tab button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}

/* Filter Controls */
#filter-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    #filter-controls {
        right: 10px;
        top: auto;
        bottom: 10px;
        width: 90%; /* Make it fit smaller screens */
    }
}

/* Navigation Tab */
#nav-tab {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 60px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

#nav-tab button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-tab button:hover {
    background-color: rgba(0, 86, 179, 0.8);
}
